#listing-show-page-background {
    position: absolute;
    top: -80px;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    width: 100%;
    height: calc(100% + 80px);
}

#listing-show-content {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 88%;
    margin: 0 6% 0 6%;
    background-color: white;
    display: flex;
    overflow: hidden;
}

#listing-show-page-right {
    width: 500px;
    flex-shrink: 0;
    overflow: hidden;

}

#listing-show-page-left {
    width: 100%;
    flex: 1 1 100%;
}

#close-page-button-container {
    position: relative; 
    top: 90px;
    float: right;
    right: 10px;
    width: 32px;
    height: 32px;
    font-size: 25px;
    color: white;
    z-index: 4;
    opacity: 1;
}

#close-page-button-container button:hover{
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}