#show-nav {
    height: 59px;
    border-bottom: 1px solid rgb(209, 209, 213);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

#show-nav img {
    width: 118px;
}

#show-nav ul {
    display: flex;
}

#show-nav ul li {
    margin: 0 8px;
    font-size: 15px;
    color: #006AFF;
}

#show-nav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#show-nav ul li i {
    padding-right: 8px;
    font-size: 20px;
}