#lead-index-image {
    width: 100%;
    height: 148px;
    object-fit: cover;
}

li.listing-index-item {
    width: 343px;
    border: 0px solid rgb(209, 209, 213);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    border-radius: 4px;
    transition: 0.6s;
}

li.listing-index-item:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px 0px;
    cursor: pointer;
}

li.listing-index-item:active:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px, 
    rgb(255, 255, 255) 0px 0px 0px 1px, 
    rgb(166, 229, 255) 0px 0px 2px 3px, 
    rgb(0, 106, 255) 0px 0px 2px 4px;
    transition: 0.2s;
}

#index-like-button {
    position: sticky;
    float: right;
    color: white;
    margin-right: 8px;
    height: 0px;
    width: 32px;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 2px 4px);
    font-size: 32px;
}

#index-like-button i.background-heart {
    color: rgba(0, 0, 0, 0.502);
    z-index: 2;
}

#index-like-button i.foreground-heart {
    position: relative;
    z-index: 3;
    top: -32px;
}

.listing-index-content {
    display: grid;
    padding: 8px;
    place-content: start space-between;
    grid-template-areas: "title title actions"
    "body1 body1 body1"
    "body2 body2 body2"
    "body3 mls-logo mls-logo"
    "additionalInfo additionalInfo additionalInfo";
    column-gap: 8px;
    grid-area: data / data / data / data;
    color: #2A2A33;
}

#listing-index-price {
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    grid-area: title / title / title / title;
}

.listing-index-facts {
    grid-area: body1 / body1 / body1 / body1;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    font-weight: 300;
}

.listing-index-facts li:not(:last-child)::after {
    content: " | ";
    color: rgb(167, 166, 171);
    padding: 0 1px 0 1px;
}

.listing-index-facts li span {
    font-weight: 600;
}

.listing-index-address {
    grid-area: body2 / body2 / body2 / body2;
    font-size: 14px;
    line-height: 24px;
    color: #0A0A14;
}

.listing-index-lister {
    grid-area: additionalInfo / additionalInfo / additionalInfo / additionalInfo;
    color: rgb(89, 107, 130);
    font-size: 10px;
    line-height: 16px;
}