#lead-index-image {
    width: 100%;
    height: 148px;
    object-fit: cover;
}

li.listing-index-item {
    border: 0px solid rgb(209, 209, 213);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    border-radius: 4px;
}

li.listing-index-item:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px 0px;
    cursor: pointer;
}

li.listing-index-item:active:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px, 
    rgb(255, 255, 255) 0px 0px 0px 1px, 
    rgb(166, 229, 255) 0px 0px 2px 3px, 
    rgb(0, 106, 255) 0px 0px 2px 4px;
    transition: 0.2s;
}
