#index-page-container {
    position: absolute;
    display: flex;
    height: calc(100vh - 135px);
    overflow: hidden;
}

#index-page-right-side {
    overflow-y: auto;
    flex-shrink: 0;
}

#listings-page-index {
    width: 750px;
    height: 88%;
}

@media (max-width: 1280px) {
    #listings-page-index {
        width: 375px;
    }
}