#splash-cta{
    height: 664px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(249, 249, 251);
    color: #2A2A33;
}

.cta-card {
    margin: 64px 1%;
    width: 27%;
    height: 446px;
    background-color: white;
    padding: 24px 24px 66px 24px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 200ms ease-in-out 0s;
}

.cta-card:hover {
    cursor: pointer;
    transform: scale(1.05) translate(0px, -8px);
}

div:first-child.cta-card {
    margin-left: 4%;
}

div:last-child.cta-card {
    margin-right: 4%;
}

.cta-card img {
    width: 100%;
    object-fit: contain;
}

div.cta-card h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

div.cta-card p {
    font-weight: 400;
    line-height: 24px;
}

div.cta-card button {
    color: rgb(0, 106, 255);
    border: rgb(0, 106, 255) 1px solid;
    width: 160px;
    height: 44px;
    border-radius: 4px;
    transition: all 200ms ease-in-out 0s;
}

div.cta-card:hover button {
    color: white;
    background-color: rgb(0, 106, 255);
}