#splash-carousel {
    display: flex;
    padding: 8px;
    height: 299px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 0 64px;
}

#splash-carousel li.listing-index-item {
    width: 343px;
    height: 100%;
    margin-right: 16px;
    flex-shrink: 0;
}

#splash-mask {
    position: relative;
    bottom: 15px;
    height: 15px;
    z-index: 2;
    background-color: white;
}

#splash-listings-nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 48px 64px 8px 64px;
}

#splash-listings-scroller button:disabled {
    color: lightgray;
    border: 1px solid lightgray;
}

#splash-listings-scroller button:disabled:hover {
    cursor: default;
    background-color: white;
}

#splash-listings-scroller button:disabled:active:hover {
    cursor: default;
    background-color: white;
}

#splash-listings-scroller button:hover {
    background-color: rgb(242, 242, 242);
}

#splash-listings-scroller button:active:hover {
    background-color: rgb(171, 171, 171);
    transition: 0.1s;
}

#splash-listings-scroller button {
    cursor: pointer;
    width: 36px;
    height: 36px;
    border: 1px solid gray;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
}

#splash-listings-scroller {
    display: flex;
    justify-content: center;
}

#splash-listings-headers {
    color: #2A2A33;
    line-height: 24px;
}

#splash-listings-headers h3 {
    font-size: 20px;
    font-weight: 500;
}

#splash-listings-headers h4 {
    color: rgb(89, 107, 130);
    font-size: 14px;
    font-weight: 300;
}