#splash-carousel {
    display: flex;
    padding: 8px;
    height: 283px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 0 64px;
}

#splash-carousel li.listing-index-item {
    width: 345px;
    height: 100%;
    flex-shrink: 0;
}

#splash-mask {
    position: relative;
    bottom: 15px;
    height: 15px;
    z-index: 2;
    background-color: white;
}

#splash-listings-nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 48px 64px 8px 64px;
}