.main-dropdown {
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    background: white;
    width: calc(100%-72px);
    height: 200px;
    border-bottom: 1px solid lightgrey;
    padding: 36px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    z-index: 7;
}

#buy-dropdown:hover {
    cursor: default !important;
}

#buy-dropdown.dropdown-subnav {
    display: flex;
    height: 100%;
    width: 100%;
}

#buy-dropdown.dropdown-subnav div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 50px;
}

#buy-dropdown.dropdown-subnav div h3 {
    width: 100%;
    height: 14px;
    font-weight: 700;
}

#buy-dropdown-col1.main-dropdown-col, #buy-dropdown-col2.main-dropdown-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

#buy-dropdown-col1.main-dropdown-col li, #buy-dropdown-col2.main-dropdown-col li {
    height: 14px;

    padding: 16px 24px 16px 0px;
    color: rgb(0, 106, 255)
}

#buy-dropdown-col1.main-dropdown-col li:hover, #buy-dropdown-col2.main-dropdown-col li:hover {
    text-decoration: underline;
    color: rgb(13, 69, 153);
}

#buy-dropdown-col1.main-dropdown-col li:active:hover, #buy-dropdown-col2.main-dropdown-col li:active:hover {
    box-shadow:0px 0px 3px 2px #2a7dd5;
}

.not-first-col-main-dropdown {
    border-left: 1px solid rgb(178, 178, 178);
    padding-left: 50px;
}

#buy-dropdown-col2.main-dropdown-col li.no-click:hover {
    text-decoration: none !important;
    color: #006AFF !important;
}