@media (min-width: 890px) {

    #nav-bar {
        padding: 0 36px 0px 6px;
    }

    #nav-bar ul {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #left-nav {
        width: 354px;
    }

    #nav-bar ul li {
        cursor: pointer;
        height: 65%;
        display: flex;
        align-items: center;
    }

    /* #nav-bar ul li a {
    } */

    #nav-bar ul li a:hover {
        color: #1277e1
    }

    /* #nav-bar ul li:active:hover {
        border: 1px solid #1277e1;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
    } */

    #right-nav {
        width: 337px;
    }
}

#nav-logo img {
    width: 160px;
    height: 35px;
}
#nav-logo {
    cursor: pointer;
    padding: 0px 16px;
}

#nav-bar {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

#profile-button img {
    height: 32px;
    width: 32px;
    padding-top: 3px;
}

#profile-button {
    width: 40px;
    padding-left: 16px; 
    cursor: pointer;
}

@media (min-width: 1150px) and (max-width: 1294px) {
    #left-nav {
        width: 354px;
    }

    #right-nav {
        width: 337px;
    }
}

@media (min-width: 1295px) {
    #left-nav {
        width: 415px;
    }

    #right-nav {
        width: 385px;
    }

    #nav-bar {
        padding-left: calc((100% - 1280px)/2);
        padding-right: calc((100% - 1280px)/2);
    }
}