.credential-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0px 5%;
}

.credential-form label {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}

.credential-form input {
    padding: 9px 16px;
    font-size: 16px;
    background-color: #F6F6FA;
    border-radius: 4px;
    border: 1px solid rgb(209, 209, 213);
    font-weight: 300px;
}

.credential-form input:focus {
    font-size: 16px;
    background-color: white;
    border: 1px solid #2a7dd5;
    box-shadow: 0px 0px 4px 3px #2a7dd5;
    transition: box-shadow 0.5s;
}

.credential-form ul {
    margin: 0px;
}

.credential-form button, #demo-login button {
    margin: 30px 0px 10px 0px;
    padding: 9px 16px;
    background: #006AFF;
    color: white;
    text-align: center;
    border-radius: 4px;
    height: 26px;
    border: 1px solid white;
}

.credential-form button:hover, #demo-login button:hover {
    cursor: pointer;
    background: #154bc0;
    transition: 0.3s;
}

.credential-form button:active:hover, #demo-login-button:active:hover {
    box-shadow: 0px 0px 4px 3px #2a7dd5;
    transition: box-shadow 0.3s;
}

@media (max-width: 500px) {
    .credential-form {
        width: 100%;
        align-items: left;
    }
    
    .credential-form > button {
        width: 60%;
    }

    .credential-form > label {
        width: 60%;
    }
}

#welcome-header {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding: 0px 0 30px 0;
}

#new-account-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

#new-account-nav button {
    text-align: center;
    height: 100%;
    padding: 10px 0px;
}

#new-account-nav button:hover {
    color: rgb(0, 106, 255);
    cursor: pointer;
}

#new-account-nav button:active:hover {
    box-shadow:0px 0px 3px 2px #2a7dd5;
    border-radius: 5px;
}

#new-account-nav button:first-child {
    width: 80px
}

#new-account-nav button:last-child {
    width: 120px;
}

.login-divider-line {
    border: 1px rgb(219, 219, 219) solid;
}

.selected-login-nav {
    border-bottom: solid 4px rgb(0, 106, 255);
    border-radius: 4px;
}

.credential-form a {
    margin: 0 auto;
    color: #0D4599;
    padding-bottom: 16px;
    font-weight: 600;
}

.credential-form a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #448ec0;
}

#demo-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

#demo-login button {
    width: 326px;
    padding: 9px 16px;
    margin-top: 20px;
    margin-bottom: 80px;
}

#login-errors {
    width: 345px;
    padding: 0px 20px;
    margin-bottom: 16px;
}

#login-errors li, #email-error {
    color: rgb(163, 0, 11);
    font-weight: 400;
    font-size: 12px;
    padding-top: 6px;
}

#email.red-error {
    border: 1px solid rgb(163, 0, 11);
}

#create-account-password-errors li.red-error {
    color: rgb(163, 0, 11);
}

#create-account-password-errors li.green {
    color: rgb(18, 138, 41);
}

#create-submit:disabled {
    background-color: #0069fd7a;
}

#create-submit:disabled:hover {
    background-color: #0069fd7a;
    cursor: default;
}

#create-submit:disabled:active:hover {
    background-color: #0069fd7a;
    cursor: default;
    box-shadow: 0px 0px 0px 0px #2a7dd5;
}